.header-price {
    margin-right: 10px;
}
.home {
    .home-title {
        margin-bottom: 5px;
    }
    .home-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
        .home-header-title {
            font-weight: 600;
            font-size: 21px;
        }
        .form-group {
            width: 50%;
        }
    }
    .table {
        margin-top: 40px;
        tbody {
            tr {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .home-addPayment {
        margin-top: 40px; 
    }
}
